<!DOCTYPE html>
<html xmlns:th="hhtp://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<span th:text="${usuario.nombre}"></span>
	<span th:text="${usuario.apellido}"></span><br>
	<span th:if="${usuario.email}" th:text="${usuario.email}"></span>
	<span th:if="${usuario.email==null}">El usuario buscado no tiene correo</span> 
	
	<ul>
		<li><a th:href="@{https://prueba-springboot-open-shift-git-vasegovia-dev.apps.sandbox-m3.1530.p1.openshiftapps.com}"> API3 </a></li>
		<li><a th:href="@{https://es.wikipedia.org/wiki/Wikipedia:Portada}"> portada </a></li>
	</ul>
	
</body>
</html>